:root {
  --purpleBackground: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); 
  --borderRadius: 5px;
  --border: 1px solid #D5D4D8;
}

main {
  padding: 36px;
}

.App {
  margin: 0;
}

.header {
  height: 65px;
  display: flex;
  align-items: center;
  background: var(--purpleBackground);
  color: #FFFFFF;
  padding: 20px;
}

.header-logo {
  width: 31px;
  height: 26px;
  margin-right: 7px;
}

.header-title {
  font-weight: 700;
  font-size: 21px;
  margin-right: auto;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px; 
  column-gap: 17px;
  row-gap: 15px;
}

.form-input {
   border-radius: var(--borderRadius);
   border: var(--border);
   text-indent: 5px;
}

.form-button {
  grid-column: 1 / -1;
  background: var(--purpleBackground);
  color: #FFFFFF;
  border-radius: var(--borderRadius);
  border: none;
}